/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /*dark shade of primary color*/
  --clr-primary-1: hsl(36, 38%, 75%); /* Darker shade 1 */
  --clr-primary-2: hsl(36, 38%, 65%); /* Darker shade 2 */
  --clr-primary-3: hsl(36, 38%, 55%); /* Darker shade 3 */
  --clr-primary-4: hsl(36, 38%, 45%); /* Darker shade 4 */
  --clr-primary-5: hsl(36, 38%, 35%); /* Darker shade 5 */

  /* Primary Color */
  --clr-primary: hsl(36, 38%, 75%);
  /* Lighter shades of primary color */
  --clr-primary-6: hsl(36, 38%, 85%); /* Lighter shade 1 */
  --clr-primary-7: hsl(36, 38%, 90%); /* Lighter shade 2 */
  --clr-primary-8: hsl(36, 38%, 95%); /* Lighter shade 3 */
  --clr-primary-9: hsl(36, 38%, 98%); /* Lighter shade 4 */
  --clr-primary-10: hsl(36, 38%, 100%); /* Lighter shade 5 (white) */
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);

  --clr-white: #fff;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary), sans-serif;
  background: #f0f5f9;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* added during recording */

/*
=============== 
Navbar
===============
*/
.nav-links {
  display: none;
}
.nav {
  height: 5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  transform: var(--transition);
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  /* background: red; */

  /* flex-direction: row; */
  /* align-items:; */
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; */
}
.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  cursor: pointer;
  font-size: 2rem;
  justify-self: end;
}
@media screen and (min-width: 850px) {
  .nav {
    background: var(--clr-primary-10);
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 2rem;
  }
  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-grey-1);
    font-weight: bold;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    justify-self:end;
  }
  .nav-links a:hover {
    color: var(--clr-primary-5);
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
/*
=============== 
Sidebar
===============
*/

/*
=============== 
Hero
===============
*/
/* underline added to globals */

/*
=============== 
About
===============
*/
/* section title added to globals */

/*
=============== 
Services
===============
*/
/* small screen layout setup */
/* bg-grey in globals */

/*
=============== 
Projects
===============
*/

/*
=============== 
Connect
===============
*/

/*
=============== 
Skills
===============
*/
/*
=============== 
Timeline
===============
*/

/*
=============== 
Blog
===============
*/

/*
=============== 
Footer
===============
*/
/*
=============== 
Single Page
===============
*/

/*
=============== 
Products Page
===============
*/
